<%if @locations.length > 0 %>
<h2>locations (<%= @locations.length %>)</h2>
<table cellspacing=0 cellpadding=5>
  <tr>
    <% @locations.first.attributes.keys.each do |key| %>
      <th> <%= key %> </th>
    <% end %>
  </tr>
  <%for location in @locations %>
    <tr style="background: <%= @locations.index(location)%2==0 ? '#ddd' : '#eee' %>">
      <% location.attributes.values.each do |val| %>
        <td> <%= val %> </td>
      <% end %>
      <td><a href="/location/tracker/<%= location.id %>">device tracker</a></td>
    </tr>
  <%end%>
  </table>
<% else %>
  No locations
<% end %>
