<%if @devices.length > 0 %>
<h2>Devices (<%= @devices.length %>)</h2>
<table cellspacing=0 cellpadding=5>
  <tr>
    <% @devices.first.attributes.keys.each do |key| %>
      <th> <%= key %> </th>
    <% end %>
  </tr>
  <%for device in @devices %>
    <tr style="background: <%= @devices.index(device)%2==0 ? '#ddd' : '#eee' %>">
        <td> <%= device.mac %> </td>
        <td> <%= device.manufacturer.name %> </td>
        <td> <%= device.created_at.strftime("%H:%M %m/%d") %> </td>
      <% end %>
      <td> <a href="/device/tracker/<%= device.id %>">track locations<a> </td>
    </tr>
  <%end%>
  </table>
<% else %>
  No devices
<% end %>
